.mainPage_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}
.mainPage_menu-wrapper{
  display: flex;
  flex-direction: row;
  min-height: 100px;
}
.mainPage_input{
  width: 50%;
  font-size: 20px;
}

.mainPage_label{
  width: 40%;
  font-size: 36px;
}
.mainPage_button-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.mainPage_button-continue{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 36px;
  text-align: center;
  width: 20%;
  padding: 20px;
  background-color: var(--brown);
  border: 2px outset var(--dark);
  border-radius: 15px;
  cursor: pointer;
}
.mainPage_button-check{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 36px;
  text-align: center;
  width: 20%;
  padding: 20px;
  background-color: var(--brown);
  border: 2px outset var(--dark);
  border-radius: 15px;
  cursor: pointer;
}
.mainPage_button-disable{
  display: none;
}
.mainPage_canvas{
  margin-bottom: 20px;
}
.mainPage_button-complete{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 36px;
  text-align: center;
  width: 20%;
  padding: 20px;
  background-color: var(--brown);
  border: 2px outset var(--dark);
  border-radius: 15px;
  cursor: pointer;
}


