:root {
  --dark: #131410;
  --light: #F5F6ED;
  --dark-brown: #4C2818;
  --brown: #A66A2C;
  --light-brown: #D5AA72;
}
* {
  margin: 0;
}
.body {
  width: 100%;
  background-image: url(./img/background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}